<article>
    {{#each data as |data|}}
    <div class="post-body">
        <p class="post-title">{{data.title}}</p>
        <p class="post-author">Posted by Greg on {{data.createdAt}}</p>
        <p class="post-content">{{data.content}}</p>
    </div>

    <div class="comment-body">
    {{#if data.comments}}
        {{#each data.comments}}
        <h2 class="comment-text">"{{new_comment}}"</h2>
        <h2 class="comment-author">Posted by User on some date</h2>
        {{/each}}
    {{/if}}
    </div>

<div class="action-buttons">
    <div class="button-padding">
        <a href="/newcomment">
            <button class="add-comment">Add Comment</button>
        </a>
    </div>

    <div class="button-padding">
        <a href="/updatepost/1">
            <button class="add-comment">Update Post</button>
        </a>
    </div>

    <div class="button-padding">
        <a href="/newcomment">
            <button class="add-comment">Delete Post</button>
        </a>
    </div>
</div> 

    {{/each}}
    



    
</article>
