    <div class="new-listing">
    <form class="new-post" action="/newpost" method="post">
        <h2>Add comment</h2>

        <label for="content"></label>
        <input 
        class="input-content"
        type="text"
        name="content"
        />
        <button
        type="submit"
        >Add Comment</button>
    </form>
    </div>